<div class="body">

  <div class="container">
    <div>
      <input [(ngModel)]="newTask">
      <button (click)="add()">Dodaj</button>
    </div>
  </div>

  <div class="container">

    <div>
      <ng-container *ngIf="tasksList.length > 0; else noTask">
        <ul>
          <li *ngFor="let task of tasksList">
            {{task}}
            <button (click)="remove(task)">Usuń</button>
            <button (click)="done(task)">Done</button>
          </li>
        </ul>
      </ng-container>
      <ng-template #noTask>
        <p>Brak tasków!</p>
      </ng-template>
    </div>

    <div>
      <ng-container *ngIf="tasksDone.length > 0; else noDoneTask">
        <ul>
          <li *ngFor="let task of tasksDone">
            {{task}}
          </li>
        </ul>
      </ng-container>
      <ng-template #noDoneTask>
        <p>Brak ukończonych zadań !</p>
      </ng-template>
    </div>
    <p>Wykonane zadania: {{tasksDone.length}}</p>
  </div>

</div>
